@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Norican&family=Noto+Sans&family=Poppins:wght@300&display=swap');

body{
    margin:0;
    font-family: 'Inter', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}


.nav{
   margin: 10px auto;
   display: flex;
   justify-content: center;
   border-bottom: 2px solid black;
   
}
.navbar-links{
   display: flex;
   list-style-type: none;
}
 .nav-link{
    margin:0 10px;
    text-decoration: none;
    color: rgb(38, 34, 34);
 }
 .nav-link:hover{
      color: brown;
 }
 .logo{
    text-decoration: none;
    margin-left: 15px;
    font-weight: 800;
    font-size: 22px;
    color: rgb(2, 8, 13);
font-family: 'Norican', cursive;
 }
 .nav-btn{
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 14px 28px;
    display: inline-block;
    margin-top: 7px;
    border-radius: 20px;
 }
 
 

 .title{
font-size: 46px;
color: darkorchid;
margin-bottom: 6px;
 }



 .desc{
font-size: 17px;
 }

 .img{
   height: 200px;
   width: 200px;
 }
  /* screen greater than 586px */
 @media(min-width:586px){

   .navbar{
      display: flex;
       /* border-bottom: 2px solid grey; */ 
      justify-content: center;
      align-items: center;
       padding: 10 30px; 
      width: 800px;
     
  }
  .navbar-links{
   display: none;
}
.hero-container{
   margin-left: 35px;
   display: flex;
   justify-content: space-between;
 }
 .section{
   margin: 50px auto;
   width: 800px;
 }
 .intro{
   width: 600px;

}

 }
/* small screen less than 586px*/
 @media(max-width:586px){
   .navbar{
      display: flex;
       /* border-bottom: 2px solid grey; */ 
      justify-content: space-between;
      align-items: center;
       padding: 10 30px; 
      width: 800px;
     
  }
  .navbar-links{
   display: none;
}
.hero-container{
  display: flex;
   justify-content: center;
   text-align: center;
   flex-wrap: wrap-reverse;
   justify-content: space-between;
 }
 .section{
   margin: 50px auto;
   margin: 30px 6%;
}
.intro{
   text-align: center;
   display: flex;
}

 }

 .blog-card{
   width: 320px;
   border: 1px solid grey;
   border-radius: 14px;
   padding: 8px;
 }


 .blog-card-img{
   width: 100%;
   border-radius: 14px;
 }